doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title RecipeBook
        link(rel="stylesheet", href="/styles/styles.css")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css")
    body
        header.appheader
            .appheader__col1
                a(href="/")
                    i.fas.fa-apple-alt
            .appheader__col2
                input(type="text" placeholder="검색")
            .appheader__col3
                .appheader__col3__sec1 
                a(href="/safety") 신뢰와 안전
                .appheader__col3__sec2
                   a(href="/question") 공지사항
                .appheader__col3__sec3
                    a(href="/help") 도움말
                .appheader__col3__sec4
                    a(href="/login") 로그인
                .appheader__col3__sec5
                    a(href="/signUp") 회원가입
                .appheader__col3__sec6 
                    a(href="/question") 문의    
        block content 