doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title RecipeBook
        link(rel="stylesheet", href="/styles/styles.css")
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap" rel="stylesheet">
        

    body
        header.header 
            .header__col1
                ul.header__col1__ul
                    li.header__col1__ul__list
                        a(href="/") RecipeBook

            .header__col2
                input(type="text" placeholder="검색")
                button.button 검색

            .header__col3
                ul.header__col3__ul
                    li.header__col3__ul__list
                        a(href="/signUp") 회원가입
                        a(href="/login") 로그인
                        a(href="/recipeWritten") 글쓰기
                
            
                    

        block content  

        footer.footer
                
            