doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title RecipeBook
        link(rel="stylesheet", href="/styles/styles.css")
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap" rel="stylesheet">
        

    body
        header.header 
            .header__col1
                ul.header__col1__ul
                    li.header__col1__ul__list
                        a(href="/") RecipeBook

            .header__col2
                input(type="text" placeholder="음식명, 재료명으로 검색해주세요")
                button.button 검색

            .header__col3
                ul.header__col3__ul
                    li.header__col3__ul__list
                        a(href="/signUp") 회원가입
                        a(href="/login") 로그인
                        a(href="/recipelist") 글쓰기
                
            
                    

        block content  

        footer.footer
            .footer__col1
            .footer__col2
                .footer__col2__txt 
                    a(href="/question") 공지사항
            .footer__col3 
                .footer__col3__txt1 
                    a(href="/help") 도움말
                .footer__col3__txt2 
                    a(href="/safety") 신뢰와 안전
                .footer__col3__txt3 
                    a(href="/question") 문의 
            .footer__col4               
                .footer__col4__txt1 
                    p 팀장명: 김우진 ㅣ 팀원: 정은진,정근모 ㅣ 팀명: 꿈도 희망도 없조 ㅣ 프로젝트명: 레시피북 ㅣ 