doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Recipebook
        link(rel="stylesheet", href="/styles/styles.css")
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css")

    body
        header.header 
            .header__col1.a1
                .a1__title Recipebook
            .header__col2.a2
                input(type="text"  placeholder="검색어를 입력해주세요.")
                button.button 검색
            .header__col3
                .user-circle
                    i.fas.fa-user-circle
                        a(href="/screens/profile")
            
            .header__col4.a4
                .a4__title 로그인

        block content  

        footer.footer
            .footer__col1
                .footer__col1__box1 
                    p 소개 

                .footer__col1__box2 
                    p 문의

                .footer__col1__box3 
                    p 도움말

                .footer__col1__box4 
                    p 이용약관
            .footer__col2
                .txt 2021 만듦
                