extends ../layouts/main.pug

block content
    .food
        .food__col1
            .food__col1__txt1 NEW
            .food__col1__txt2 레시피북 어드벤처
            .food__col1__txt3 전문가들의 훌륭한 레시피를 살펴보세요 식재료,식기도구,조미료 들도 알려드림. 
        .food__txt 레시피북을 잘이용해보세요.
        .food__col2
            .food__col2__sec1
                .food__col2__sec1__txt1 레시피별 어드벤처
                .food__col2__sec1__txt2 엑티비티한 다양한 레시피들이 수두룩 같이 함께 만들어보아요.
                .food__col2__sec1__box
                    .food__col2__sec1__box__add1
                        a(href="serve")
                            .food__col2__sec1__box__add1__img 
                                p 북미
                    .food__col2__sec1__box__add2
                        a(href="serve")
                            .food__col2__sec1__box__add2__img 
                                p 남미
                    .food__col2__sec1__box__add3
                        a(href="serve")
                            .food__col2__sec1__box__add3__img 
                                p 유렵
                    .food__col2__sec1__box__add4
                        a(href="serve")
                            .food__col2__sec1__box__add4__img 
                                p 아시아
                    .food__col2__sec1__box__add5
                        a(href="serve")
                            .food__col2__sec1__box__add5__img 
                                p 아프리카 및 중동
        .food__col3
            .food__col3__sec
                .food__col3__sec__txt1 ✓ 어드벤처
                .food__col3__sec__txt2 손재주가 없어도 이쁘고 완벽한 음식을 즐기는법
                .food__col3__sec__txt3 식재료,식기도구,레시피 포함
        .food__col4
            .food__col4__sec
                .food__col4__sec__txt1 관심 레시피별 어드벤처
                .food__col4__sec1__txt2 관심 레시피별로 다양한 음식 레시피가 준비되어있습니다.
                .food__col4__sec1__box
                    .food__col4__sec1__box__add1
                        a(href="serve")
                            .food__col4__sec1__box__add1__img 
                                p 디저트
                    .food__col4__sec1__box__add2
                        a(href="serve")
                            .food__col4__sec1__box__add2__img 
                                p 메인
                    .food__col4__sec1__box__add3
                        a(href="serve")
                            .food__col4__sec1__box__add3__img 
                                p 음료수
                    .food__col4__sec1__box__add4
                        a(href="serve")
                            .food__col4__sec1__box__add4__img 
                                p 양념
                    .food__col4__sec1__box__add5
                        a(href="serve")
                            .food__col4__sec1__box__add5__img 
                                p 식재료                  
        .food__col5
            .food__col5__sec
                .food__col5__sec__txt1 다양한 레시피 어드벤처
                .food__col5__sec1__box
                    .food__col5__sec1__box__add1
                        a(href="serve")
                            .food__col5__sec1__box__add1__img 
                            .food__col5__sec1__box__add1__txt 햄버거
                    .food__col5__sec1__box__add2
                        a(href="serve")
                            .food__col5__sec1__box__add2__img 
                            .food__col5__sec1__box__add2__txt 피자
                    .food__col5__sec1__box__add3
                        a(href="serve")
                            .food__col5__sec1__box__add3__img 
                            .food__col5__sec1__box__add3__txt 파스타
                    .food__col5__sec1__box__add4
                        a(href="serve")
                            .food__col5__sec1__box__add4__img
                            .food__col5__sec1__box__add4__txt 샐러드
                    .food__col5__sec1__box__add5
                        a(href="serve")
                            .food__col5__sec1__box__add5__img 
                            .food__col5__sec1__box__add5__txt 샌드위치