extends ../layouts/main.pug

block content 
    .food
        .food__col1
            .food__col1__sec1
            .food__col1__sec2
                .food__col1__sec2__box1
                .food__col1__sec2__box2 레시피
            .food__col1__sec3
        .food__col2
            .food__col2__sec1
            .food__col2__sec2
                .food__col2__sec2__box1 내용
                .food__col2__sec2__box2.cm4
                    .food__col2__sec2__box2__w1
                    .food__col2__sec2__box2__w2
                    .food__col2__sec2__box2__w3
                    .food__col2__sec2__box2__w4
                    .food__col2__sec2__box2__w5
                .food__col2__sec2__box3
            .food__col2__sec3
        .food__col3
            .food__col3__sec1
            .food__col3__sec2
                .food__col3__sec2__box1 내용
                .food__col3__sec2__box2.cm5
                    .food__col3__sec2__box2__r1
                    .food__col3__sec2__box2__r2
                    .food__col3__sec2__box2__r3
                    .food__col3__sec2__box2__r4
                    .food__col3__sec2__box2__r5
                .food__col3__sec2__box3
            .food__col3__sec3
        .food__col4
            .food__col4__sec1
            .food__col4__sec2
            .food__col4__sec3