extends ../layouts/main.pug

block content
    .food
        .food__col1
            .food__col1__txt1 NEW
            .food__col1__txt2 레시피북 어드벤처
            .food__col1__txt3 전문가들의 훌륭한 레시피를 살펴보세요 식재료,식기도구,조미료 들도 알려드림. 
        .food__txt 레시피북을 잘이용해보세요.
        .food__col2
            .food__col2__sec1
                .food__col2__sec1__txt1 레시피별 어드벤처
                .food__col2__sec1__txt2