extends ../layouts/main.pug

block content
    .food
        .food__col1
            p 레시피의 모든 것
        .food__col2
            .food__col2__A
                .food__col2__A__img
                .food__col2__A__txt 
                    a(href="/foodrecipe") 내용아니일단뭐가많이적혀있어야할거같아소
            .food__col2__B
                .food__col2__B__img
                .food__col2__B__txt
                    a(href="/foodrecipe") 내용아니일단뭐가많이적혀있어야할거같아소
            .food__col2__C
                .food__col2__C__img
                .food__col2__C__txt 
                    a(href="/foodrecipe") 내용아니일단뭐가많이적혀있어야할거같아소
        .food__col3
            .food__col3__box1
                .food__col3__box1__A
                    .food__col3__box1__A__img
                    .food__col3__box1__A__txt
                        a(href="/foodrecipe") 내용아니ㄱ일단뭐가많이적혀있어야할거같아소
                .food__col3__box1__B
                    .food__col3__box1__B__img
                    .food__col3__box1__B__txt
                        a(href="/foodrecipe") 내용아니일ㄱ단뭐가많이적혀있어야할거같아소
                .food__col3__box1__C
                    .food__col3__box1__C__img
                    .food__col3__box1__C__txt
                        a(href="/foodrecipe") 내용아니일단뭐가많이적혀있어야할거같아소
                .food__col3__box1__D
                    .food__col3__box1__D__img
                    .food__col3__box1__D__txt
                        a(href="/foodrecipe") 내용아니일단뭐가많이적혀있어야할거같아소
            .food__col3__box2
                .food__col3__box2__E
                    .food__col3__box2__E__img
                    .food__col3__box2__E__txt
                        a(href="/foodrecipe") 내용아니일단뭐가많이적혀있어야할거같아소
                .food__col3__box2__F
                    .food__col3__box2__F__img
                    .food__col3__box2__F__txt
                        a(href="/foodrecipe") 내용아니일단뭐가많이적혀있어야할거같아소
                .food__col3__box2__G
                    .food__col3__box2__G__img
                    .food__col3__box2__G__txt
                        a(href="/foodrecipe") 내용아니일단뭐가많이적혀있어야할거같아소
                .food__col3__box2__H
                    .food__col3__box2__H__img
                    .food__col3__box2__H__txt
                        a(href="/foodrecipe") 내용아니일단뭐가많이적혀있어야할거같아소