extends ../layouts/main.pug

block content
    .help
        .help__col1
        .help__col2
            .help__col2__sec1
            .help__col2__sec2
                .help__col2__sec2
                .help__col2__sec2
                .help__col2__sec2 
                .help__col2__sec2
                .help__col2__sec2
            .help__col2__sec3