extends ../layouts/main.pug

block content 
    .home
        .home__col1
            .home__col1__sec1
            .home__col1__sec2 
            .home__col1__sec3  
        .home__col2
            .home__col2__left
            .home__col2__main
                .home__col2__main__box1
                    p 은진이는 바보
                .home__col2__main__box2.cm4
                    .home__col2__main__box2__sec1
                    .home__col2__main__box2__sec2
                    .home__col2__main__box2__sec3
                    .home__col2__main__box2__sec4
                .home__col2__main__box3
                    .home__col2__main__box3__sec1
                        a(href="/foodrecipe") ㅇㅈ
                    .home__col2__main__box3__sec2
                        a(href="/foodrecipe") ㅇㅈ
                    .home__col2__main__box3__sec3
                        a(href="/foodrecipe") ㅇㅈ
                    .home__col2__main__box3__sec4
                        a(href="/foodrecipe") ㅇㅈ
            .home__col2__right
        .home__col3
            .home__col3__left 
            .home__col3__main.cm2
                .home__col3__main__box1 
                    a(href="/foodrecipe") test
                .home__col3__main__box2
                    a(href="/foodrecipe") test 
                .home__col3__main__box3
                    a(href="/foodrecipe") test
            .home__col3__right
        .home__col4
            .home__col4__left
            .home__col4__main.cm3
                .home__col4__main__box1
                    a(href="/foodrecipe") test 
                .home__col4__main__box2
                    a(href="/foodrecipe") test 
                .home__col4__main__box3
                    a(href="/foodrecipe") test
            .home__col4__right

