extends ../layouts/main.pug

block content 
    .home
        .home__col1
            .home__col1__box
                .home__col1__box__add1
                .home__col1__box__add2     
                    .home__col1__box__add2__txt1
                        a(href="/")
                            .home__col1__box__add2__txt1 소개
                    .home__col1__box__add2__txt2
                        a(href="/question")
                            .home__col1__box__add2__txt2 문의
                    .home__col1__box__add2__txt3
                        a(href="/precautions")
                            .home__col1__box__add2__txt3 주의사항 
                .home__col1__box__add3

            .home__col1__txt1 이제, 요리는 쉽고 간단히
            .home__col1__button 
                a(href="/foodrecipe")
                    .home__col1__btn 우진이 시작버튼
        .home__col2
            .home__col2__sec1
                .home__col2__sec1__box1
                    .home__col2__sec1__box1__img
                    .home__col2__sec1__box1__txt 
                        a(href="/") 삼겹살
                            p 우진아 삽겹살
                .home__col2__sec1__box2
                    .home__col2__sec1__box2__img
                    .home__col2__sec1__box2__txt 
                        a(href="/") 제육볶음
                            p 우진아 제육볶음
                .home__col2__sec1__box3
                    .home__col2__sec1__box3__img
                    .home__col2__sec1__box3__txt 
                        a(href="/") 비빔밥
                            p 우진아 비빔밥
                .home__col2__sec1__box4
                    .home__col2__sec1__box4__img
                    .home__col2__sec1__box4__txt 
                        a(href="/") 치킨
                            p 우진아 치킨
            .home__col2__sec2
                .home__col2__sec2__box1
                    .home__col2__sec2__box1__img
                    .home__col2__sec2__box1__txt 
                        a(href="/") 떡볶이
                            p 우진아 떡볶이
                .home__col2__sec2__box2
                    .home__col2__sec2__box2__img
                    .home__col2__sec2__box2__txt 
                        a(href="/") 김밥
                            p 우진아 김밥
                .home__col2__sec2__box3
                    .home__col2__sec2__box3__img
                    .home__col2__sec2__box3__txt 
                        a(href="/") 된장찌개
                            p 우진아 된장찌개
                .home__col2__sec2__box4
                    .home__col2__sec2__box4__img
                    .home__col2__sec2__box4__txt 
                        a(href="/") 김치
                            p 우진아 김치  
        .home__col3 
            .home__col3__txt1 
                p 요리는, 언제 어디서든 손쉽고 맛있게！                  
            .home__col3__sec
                .home__col3__sec__box1
                    .home__col3__sec__box1__img
                    .home__col3__sec__box1__txt 
                        a(href="serve") 이스터에그
                .home__col3__sec__box2
                    .home__col3__sec__box2__img
                    .home__col3__sec__box2__txt 식기용품
                .home__col3__sec__box3
                    .home__col3__sec__box3__img
                    .home__col3__sec__box3__txt 간단요리
                .home__col3__sec__box4
                    .home__col3__sec__box4__img
                    .home__col3__sec__box4__txt 후식
        .home__col4 
            .home__col4__txt1 세계의 레시피를 온라인으로
            .home__col4__txt2 레시피북의 여러 조언과 여러 맛을 온라인으로 같이 따라만들어보세요.   
            .home__col4__sec
                .home__col4__sec__box1
                    .home__col4__sec__box1__img
                    .home__col4__sec__box1__txt1 중국음식
                    .home__col4__sec__box1__txt2 중국의 여러음식을 즐겨보세요.
                .home__col4__sec__box2
                    .home__col4__sec__box2__img
                    .home__col4__sec__box2__txt1 일본음식 
                    .home__col4__sec__box2__txt2 일본의 여러음식을 즐겨보세요.
                .home__col4__sec__box3
                    .home__col4__sec__box3__img
                    .home__col4__sec__box3__txt1 러시아음식
                    .home__col4__sec__box3__txt2 러시아의 여러음식을 즐겨보새요.
        .home__col5
            .home__col5__txt1 레시피북으로 요리를 더 편하게 더 쉽게.   
            .home__col5__sec
                .home__col5__sec__box1
                    .home__col5__sec__box1__img
                    .home__col5__sec__box1__txt1 커뮤니티
                .home__col5__sec__box2
                    .home__col5__sec__box2__img
                    .home__col5__sec__box2__txt1 공지사항 
                .home__col5__sec__box3
                    .home__col5__sec__box3__img
                    .home__col5__sec__box3__txt1 문의
                        