extends ../layouts/main.pug

block content 
    .home
        .home__col1
        .home__col2
            .home__col2__top test
            .home__col2__middle.cm4
                .home__col2__middle__box1 
                .home__col2__middle__box2 
                .home__col2__middle__box3
                .home__col2__middle__box4
            .home__col2__under.cm4
                .home__col2__under__box1 test
                .home__col2__under__box2 test
                .home__col2__under__box3 test
                .home__col2__under__box4 test
        .home__col3
            .home__col3__left 
            .home__col3__main 
            .home__col3__right
        .home__col4
            .home__col4__left
            .home__col4__main 
            .home__col4__right

