extends ../layouts/main.pug

block content 
    .home
        .home__col1
            .home__col1__box
                .home__col1__box__add1
                .home__col1__box__add2     
                    .home__col1__box__add2__txt2 
                        a(href="/help")
                            .home__col1__box__add2__txt2__sec1 도움말
                    .home__col1__box__add2__txt3 
                        a(href="/question")
                            .home__col1__box__add2__txt3__sec1 문의
                    .home__col1__box__add2__txt4 
                        a(href="/")
                            .home__col1__box__add2__txt4__sec1 주의사항 
                .home__col1__box__add3

            .home__col1__txt1 우진이, 가오가이 입니다
            .home__col1__button 
                a(href="/foodrecipe")
                    .home__col1__btn 우진가오
