extends ../layouts/main.pug

block content 
    .home
        .home__col1
        .home__col2
            .home__col2__A
                .home__col2__A__img
                .home__col2__A__txt 
                    a(href="/foodrecipe") 내용아니일단뭐가많이적혀있어야할거같아소
            .home__col2__B
                .home__col2__B__img
                .home__col2__B__txt
                    a(href="/foodrecipe") 내용아니일단뭐가많이적혀있어야할거같아소
            .home__col2__C
                .home__col2__C__img
                .home__col2__C__txt 
                    a(href="/foodrecipe") 내용아니일단뭐가많이적혀있어야할거같아소
        .home__col3
            .home__col3__box1
                .home__col3__box1__A
                .home__col3__box1__B
                .home__col3__box1__C
                .home__col3__box1__D
            .home__col3__box2
                .home__col3__box2__E
                .home__col3__box2__F
                .home__col3__box2__G
                .home__col3__box2__H
        

                