extends ../layouts/main.pug

block content 
    .home
        .home__col1
            .home__col1__box
                .home__col1__box__add1
                .home__col1__box__add2     
                    .home__col1__box__add2__txt1
                        a(href="/")
                            .home__col1__box__add2__txt1 소개
                    .home__col1__box__add2__txt2
                        a(href="/question")
                            .home__col1__box__add2__txt2 문의
                    .home__col1__box__add2__txt3
                        a(href="/")
                            .home__col1__box__add2__txt3 주의사항 
                .home__col1__box__add3

            .home__col1__txt1 우진이, 가오가이 입니다
            .home__col1__button 
                a(href="/foodrecipe")
                    .home__col1__btn 우리팀아 뭐해
        .home__col2
            .home__col2__sec1 
                       
