extends ../layouts/main.pug

block content 
    .home
        .home__col1
            .home__col1__txt1 우진이, 가오가이 입니다
            .home__col1__button 
                a(href="/foodrecipe")
                    .home__col1__btn 우진가오
            .home__col1__        
