extends ../layouts/main.pug

block content 
    .home
        .home__col1
        .home__col2
            .home__col2__left
            .home__col2__main.cm1
                .home__col2__main__box1 
                .home__col2__main__box2 
                .home__col2__main__box3
                .home__col2__main__box4
            .home__col2__right
        .home__col3
            .home__col3__left 
            .home__col3__main.cm2
                .home__col3__main__box1 
                .home__col3__main__box2 
                .home__col3__main__box3
            .home__col3__right
        .home__col4
            .home__col4__left
            .home__col4__main.cm3
                .home__col4__main__box1 
                .home__col4__main__box2 
                .home__col4__main__box3
            .home__col4__right

