extends ../layouts/main.pug

block content
    section(class="login-form")
        h1 LOGO DESIGN 
        form(action="")
            .int-area   
                input(type="text" name="id" id="id" autocompelete="off" required)
                    label(for="id") USER NAME
            
            .int-area   
                input(type="text" name="pw" id="pw" autocompelete="off" required)
                    label(for="pw") PASS WORD
                
            .but-area
                button(type="submt") LOGIN
    .caption
        a(href="") Forgot Password?