extends ../layouts/main.pug

block content
    .app1
        h1 LOGIN DESION
    .app2
        
        form(action="")
            .int-area   
                    input(type="text" name="id" id="id" autocompelete="off" required)
                    label(for="id") USER NAME

            .int-area
                    input(type="password" name="pw" id="pw" autocompelete="off" required)
                    label(for="pw") PASS WORD
            
            .but-area
                button(type="submt" id="btn") LOGIN
    
            .caption
                ul.caption__ul
                    li.caption__ul__list
                        a(href="/forgotPassword") Forgot Password?
                        a(href="/signUp") Sign Up


    