extends ../layouts/main.pug

block content
    .precautions
        .precautions__col1
            .precautions__col1__txt1 레시피북의 요리할때 주의사항입니다.
            .precautions__col1__txt2 레시피북은 사용자 여러분들의 안전을 책임지기위해 노력 할것입니다.
        .precautions__col2
            .precautions__col2__img
        .precautions__col3 
            .precautions__col3__txt1 레시피북의 방침
            .precautions__col3__txt2 저희 레시피북은 사소한 문제라도 다시 짚고 넘어가고 최대한의 요리할때의 방침을 정리해 드리겠습니다.
        .precautions__col4 
            .precautions__col4
            .precautions__col4  