extends ../layouts/main.pug

block content
    .precautions
        .precautions__col1
            .precautions__col1__txt1 레시피북의 요리할때 주의사항입니다.
            .precautions__col1__txt2 레시피북은 사용자 여러분들의 안전을 책임지기위해 노력 할것입니다.
        .precautions__col2
            .precautions__col2__img
        .precautions__col3 
            .precautions__col3__txt1 레시피북의 방침
            .precautions__col3__txt2 저희 레시피북은 사소한 문제라도 다시 짚고 넘어가고 최대한의 요리할때의 방침을 정리해 드리겠습니다. 아직도 모자라지만 최선을 다하겠습니다. 
        .precautions__col4
            .precautions__col4__sec1 
                .precautions__col4__sec1__txt1 방침방침
                .precautions__col4__sec1__txt2 거동이 불편한 게스트는 사진을 보고 숙소나 체험이 자신에게 적합한지 판단하게 됩니다. 따라서 에어비앤비 호스트는 모든 접근성 기능의 사진을 제공해야 하며, 게스트는 숙소 페이지에 접근성 기능 섹션에서 이 사진을 확인할 수 있습니다.
            .precautions__col4__sec2
                .precautions__col4__sec2__txt1 방침방침
                .precautions__col4__sec2__txt2 에어비앤비는 웹 콘텐츠 접근성 지침에 명시된 디지털 접근성 기준을 준수하기 위해 최선을 다하고 있습니다. 또한 다양한 관련 문제를 파악하기 위해 테스트 도구 자동화에도 투자하고 있습니다.
        .precautions__col5
            .precautions__col5__sec1
                .precautions__col5__sec1__txt1 방침방침
                .precautions__col5__sec1__txt2 거동이 불편한 게스트는 사진을 보고 숙소나 체험이 자신에게 적합한지 판단하게 됩니다. 따라서 에어비앤비 호스트는 모든 접근성 기능의 사진을 제공해야 하며, 게스트는 숙소 페이지에 접근성 기능 섹션에서 이 사진을 확인할 수 있습니다.
            .precautions__col5__sec2
                .precautions__col5__sec2__txt1 방침방침
                .precautions__col5__sec2__txt2 거동이 불편한 게스트는 사진을 보고 숙소나 체험이 자신에게 적합한지 판단하게 됩니다. 따라서 에어비앤비 호스트는 모든 접근성 기능의 사진을 제공해야 하며, 게스트는 숙소 페이지에 접근성 기능 섹션에서 이 사진을 확인할 수 있습니다.       