extends ../layouts/main.pug

block content
    .precautions
        .precautions__col1
            .precautions__col1__txt1 레시피북의 요리할때의 주의사항
            .precautions__col1__txt2 레시피북은 사용자 여러분들의 안전과 행복함을 책임지기위해 노력을 기울일것 입니다.