extends ../layouts/main.pug

block content
    .precautions
        .precautions__col1
            .precautions__col1__txt1 레시피북의 요리할때 주의사항입니다.
            .precautions__col1__txt2 레시피북은 사용자 여러분들의 안전을 책임지기위해 노력 할것입니다.
        .precautions__col2
            .precautions__col2__img     