extends ../layouts/main.pug

block content
    .precautions
        .precautions__col1
            .precautions__col1__txt1 레시피북의 요리할때 주의사항입니다.
            .precautions__col1__txt2 레시피북은 사용자 여러분들의 안전을 책임지기위해 노력 할것입니다.
        .precautions__col2
            .precautions__col2__img
        .precautions__col3 
            .precautions__col3__txt1 레시피북의 방침
            .precautions__col3__txt2 저희 레시피북은 사소한 문제라도 다시 짚고 넘어가고 최대한의 요리할때의 방침을 정리해 드리겠습니다. 아직도 모자라지만 최선을 다하겠습니다. 
        .precautions__col4
            .precautions__col4__sec1 
                .precautions__col4__sec1__txt1 방침방침
                .precautions__col4__sec1__txt2 방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방
            .precautions__col4__sec2
                .precautions__col4__sec2__txt1 방침방침
                .precautions__col4__sec2__txt2 방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방
        .precautions__col5
            .precautions__col5__sec1
                .precautions__col5__sec1__txt1 방침방침
                .precautions__col5__sec1__txt2 방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방
            .precautions__col5__sec2
                .precautions__col5__sec2__txt1 방침방침
                .precautions__col5__sec2__txt2 방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방
        .precautions__col6 
            .precautions__col6__txt1 방침방침방
            .precautions__col6__txt2 방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침
        .precautions__col7
            .precautions__col7__sec
                .precautions__col7__sec__txt1 방침방침방
                .precautions__col7__sec__txt2 방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침 
            .precautions__col7__img
        .precautions__col8
            .precautions__col8__img
            .precautions__col8__sec
                .precautions__col8__sec__txt1 방침방침방
                .precautions__col8__sec__txt2 방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침
        .precautions__col9
            .precautions__col9__sec
                .precautions__col9__sec__txt1 방침방침방
                .precautions__col9__sec__txt2 방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침 
            .precautions__col9__img 
        .precautions__col10 
            .precautions__col10__img
        .precautions__col11
            .precautions__col11__txt1 방침방침방
            .precautions__col11__txt2 방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방
        .precautions__col12
            .precautions__col12__img
            .precautions__col12__sec
                .precautions__col12__sec__txt1 방침방침방
                .precautions__col12__sec__txt2 방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침
        .precautions__col13
            .precautions__col13__sec
                .precautions__col13__sec__txt1 방침방침방
                .precautions__col13__sec__txt2 방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침
            .precautions__col13__img
        .precautions__col14
            .precautions__col14__img
            .precautions__col14__sec
                .precautions__col14__sec__txt1 방침방침방
                .precautions__col14__sec__txt2 방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침방침
        .precautions__col15
            .precautions__col15__txt 저어어어어
        .precautions__col16
            .precautions__col16__txt
            .precautions__col16__txt                                                                           