extends ../layouts/main.pug

block content 
    div.writeWrapper
        form(action="/recipe/write" method="POST")
            input.writeWrapper__Title(type="text" placeholder="제목을 입력해주세요" name="title")
            textarea.writeWrapper__desc(placeholder="내용을 입력해주세요"name="desc")
            input(type="hiddn"name="type" value=type)
            button.writeWrapper__btn 등록하기