extends ../layouts/main.pug

block content
    .listTitle
        .listTitle__head RECIPELIST
    .listSearch
        input.listSearch__search(type="text" placeholder="제목으로 검색….")
    .listContents
        .listContents__rWrapper
            //- list header
            ul.listHeader
                li.listHeader__field 번호
                li.listHeader__field 제목
                li.listHeader__field 작성자
                li.listHeader__field 날짜

    button.listBtn
            a(href="/recipeWrite") 글 쓰기
                    

        

    