extends ../layouts/index.pug

block content
    .serve
        .serve__col1
            .serve__col1__sec1
                .serve__col1__sec1__box1
                    a(href="/")
                        i.fas.fa-apple-alt
                .serve__col1__sec1__box2
                .serve__col1__sec1__box3
                    .serve__sec1__box3__app1
                        a(href="/safety") 신뢰와 안전
                    .serve__sec1__box3__app2
                        a(href="/question") 공지사항
                    .serve__sec1__box3__app3
                        a(href="/help") 도움말
                    .serve__sec1__box3__app4
                        a(href="/login") 로그인
                    .serve__sec1__box3__app5
                        a(href="/signUp") 회원가입
                    .serve__sec1__box3__app6 
                        a(href="/question") 문의        
            .serve__col1__sec2
                .serve__col1__sec2__txt1 요리중에 안전하고 편안함을 느껴보세요
                .serve__col1__sec2__txt2 레시피북 검색 하러가기 ＞
                .serve__col1__sec2__txt3 시작하려면 로그인 하세요
                .serve__col1__sec2__txt4
                    .serve__col1__sec2__txt4__app1
                        input(type="text") 
                    .serve__col1__sec2__txt4__app2
                            a(href="/login")
                                button.servebtn 로그인
                .serve__col1__sec2__txt5 레시피북 자세히보기 ＞ 
        .serve__col2
            .serve__col2__txt 레시피북의 모든역량이 들어있는 레시피
            .serve__col2__sec 
                .serve__col2__sec__box1
                    .serve__col2__sec__box1__img
                    .serve__col2__sec__box1__txt 음식의 정보들이 많이 있어요
                .serve__col2__sec__box2
                    .serve__col2__sec__box2__img
                    .serve__col2__sec__box2__txt 음식으로 좋은 추억을 만들어봐요
                .serve__col2__sec__box3
                    .serve__col2__sec__box3__img  
                    .serve__col2__sec__box3__txt 음식을 같이 만들어 보기도 해봐요 
        .serve__col3
            .serve__col3__box1
                .serve__col3__box1__img
                .serve__col3__box1__txt
            .serve__col3__box2 
                .serve__col3__box2__txt
                .serve__col3__box2__img
            .serve__col3__box3
                .serve__col3__box3__img
                .serve__col3__box3__txt 
        .serve__col4    
            .serve__col4__ 
            .serve__col4__
        .serve__col5
            .serve__col5
            .serve__col5                                                             
                     
        