extends ../layouts/index.pug

block content
    .serve
        .serve__col1
            .serve__col1__sec1
                .serve__col1__sec1__box1
                    a(href="/")
                    i.fas.fa-apple-alt
                .serve__col1__sec1__box2
                .serve__col1__sec1__box3
                    .serve__sec1__box3__app1
                        a(href="/safety") 신뢰와 안전
                    .serve__sec1__box3__app2
                        a(href="/question") 공지사항
                    .serve__sec1__box3__app3
                        a(href="/help") 도움말
                    .serve__sec1__box3__app4
                        a(href="/login") 로그인
                    .serve__sec1__box3__app5
                        a(href="/signUp") 회원가입
                    .serve__sec1__box3__app6 
                        a(href="/question") 문의        
            .serve__col1__sec2
                .serve__col1__sec2__txt1
                    p 업무 중에도 집같은 편안함을 느껴보세요
        