extends ../layouts/main.pug

block content
    .question
        .question__col1 
            .question__col1__btn
                button.btn Q & A
        .question__col2
            .question__col2__A  
                h3 문의 게시판입니다
            .question__col2__B
                h3.txt1 번호
                h3.txt2 제목
                h3.txt3 날짜
            .question__col2__C
