extends ../layouts/main.pug

block content
    .question
        .question__col1 
            .question__col1__btn
                button.btn 글쓰기 
            .question__col1__A
                h3.txt1 번호
                h3.txt2 제목
                h3.txt3 날짜
            .question__col1__C
                p.txt1 여기는 이따가 데이터 들어올 곳 !!
        .question__col2 
            
