extends ../layouts/main.pug

block content
    .safety
        .safety__col1
            .safety__col1__txt 신뢰와 안전
        .safety__col2 
            p 회원님의 안전이 가장 중요합니다
        .safety__col3
            p 내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용
        .safety__col4
            p 안전을 우선시하는 레시피북 
        .safety__col5
            p 레시피북은 온라인 사용자의 안전을 보호할 수 있도록 설계되었습니다 
        .safety__col6
            .safety__col6__sec1
                .safety__col6__sec1__img1
                .safety__col6__sec1__txt1 위험도 분석
                .safety__col6__sec1__txt2 모든 레시피북 위험도를 분석합니다. 레시피북은 수백 가지의 신호를 즉시 분석하여 의심스러운 요소를 사전에 탐지하고 조사합니다.
            .safety__col6__sec2
                .safety__col6__sec2__img2
                .safety__col6__sec2__txt1 보안리스트 및 신원 확인
                .safety__col6__sec2__txt2 모든 조사 시스템이 완벽하지는 않지만 레시피북은 게스트에 대해서는 신원 조사도 진행합니다.
            .safety__col6__sec3
                .safety__col6__sec3__img3
                .safety__col6__sec3__txt1 만반의 준비
                .safety__col6__sec3__txt2 계정을 잊어버리거나 분실 하셨을때 문의를 넣으시면 찾아드립니다.
        .safety__col7
            .safety__col7__sec1
                .safety__col7__sec1__img1
                .safety__col7__sec1__txt1 내용내용내용
                .safety__col7__sec1__txt2 내용내용내용
            .safety__col7__sec2
                .safety__col7__sec2__img1
                .safety__col7__sec2__txt1 계정 보호
                .safety__col7__sec2__txt2 빠밤빠밤빠밤빠밤
            .safety__col7__sec3
                .safety__col7__sec3__img1
                .safety__col7__sec3__txt1 사기 방지
                .safety__col7__sec3__txt2 땅땅땅땅땅땅땅땅땅땅땅땅
        .safety__col8
            p 미리 알아보세요
        .safety__col9
            p 내용내용내용내용내용내용내용
        .safety__col10
            .safety__col10__sec1
            .safety__col10__sec2
               
