extends ../layouts/main.pug

block content
    .safety
        .safety__col1
        .safety__col2
            .safety__col2__sec1
            .safety__col2__sec2
            .safety__col2__sec3
        .safety__col3