extends ../layouts/main.pug

block content
    .safety
        .safety__col1
            p 신뢰와 안전
        .safety__col2 
            p 회원님의 안전이 가장 중요합니다
        .safety__col3
            p 내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용
        .safety__col4
            p 안전을 우선시하는 레시피북 
        .safety__col5
            p 레시피북은 온라인 사용자의 안전을 보호할 수 있도록 설계되었습니다 
        .safety__col6.cm3
            .safety__col6__sec1
            .safety__col6__sec2 
            .safety__col6__sec3          