.food {
  width: 100%;
  height: calc(420vh - 60px);
  display: flex;
  flex-direction: column;
}

.food__col1 {
  width: 100%;
  height: 490px;
  padding: 150px 80px 120px;
  background-image: url("https://images.unsplash.com/photo-1445093498563-4ba5fecf1bc7?ixid=MXwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MjR8MjExNjI0fHxlbnwwfHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
}

.food__col1__txt1 {
  width: 100%;
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
}

.food__col1__txt2 {
  width: 100%;
  padding: 15px 0px 0px;
  font-size: 55px;
  color: #ffffff;
  font-weight: 700;
}

.food__col1__txt3 {
  width: 430px;
  padding: 12px 0px 12px;
  font-size: 24px;
  color: #ffffff;
  font-weight: 400;
}

.food__txt {
  width: 100%;
  padding: 30px 80px 0px;
  color: #222222;
  font-size: 14px;
}

.food__col2 {
  width: 100%;
  height: 294px;
  display: flex;
  flex-direction: column;
  padding: 43px 80px 30px;
}

.food__col2__sec1 {
  width: 100%;
  height: 214px;
}

.food__col2__sec1__txt1,
.food__col4__sec__txt1,
.food__col5__sec__txt1 {
  font-size: 22px;
  color: #222222;
  font-weight: 500;
}

.food__col2__sec1__txt2,
.food__col4__sec1__txt2 {
  font-size: 16px;
  color: #222222;
  font-weight: 400;
  margin: 8px 0px 0px;
}

.food__col2__sec1__box {
  width: 100%;
  height: 175px;
  display: flex;
  flex-direction: row;
  padding: 40px 0px 0px;
}

.food__col2__sec1__box__add1,
.food__col2__sec1__box__add2,
.food__col2__sec1__box__add3,
.food__col2__sec1__box__add4,
.food__col2__sec1__box__add5 {
  width: 20%;
  height: 138px;
}

.food__col2__sec1__box__add1__img {
  width: 242px;
  height: 120px;
  background-image: url("https://images.unsplash.com/photo-1594518753640-4d450d445a94?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTh8fG5vcnRoJTIwYW1lcmljYXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 10px;
  padding: 70px 25px 0px;
}

.food__col2__sec1__box__add2__img {
  width: 242px;
  height: 120px;
  background-image: url("https://images.unsplash.com/photo-1596126738184-b409462b419c?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OXx8c291dGglMjBhbWVyaWNhfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 10px;
  padding: 70px 25px 0px;
}

.food__col2__sec1__box__add3__img {
  width: 242px;
  height: 120px;
  background-image: url("https://images.unsplash.com/photo-1467269204594-9661b134dd2b?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8ZXVyb3BlfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 10px;
  padding: 70px 25px 0px;
}

.food__col2__sec1__box__add4__img {
  width: 242px;
  height: 120px;
  background-image: url("https://images.unsplash.com/photo-1535139262971-c51845709a48?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8YXNpYXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 10px;
  padding: 70px 25px 0px;
}

.food__col2__sec1__box__add5__img {
  width: 242px;
  height: 120px;
  background-image: url("https://images.unsplash.com/photo-1517821099606-cef63a9bcda6?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8bWlkZGxlJTIwZWFzdHxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 10px;
  padding: 70px 25px 0px;
}

.food__col2__sec1__box p {
  font-size: 16px;
  color: #ffffff;
}

.food__col3 {
  width: 100%;
  height: 374px;
  padding: 24px 80px 0px;
}

.food__col3__sec {
  width: 100%;
  height: 350px;
  background-image: url("https://images.unsplash.com/photo-1455619452474-d2be8b1e70cd?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjF8fGZvb2R8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  padding: 160px 60px 0px;
}

.food__col3__sec__txt1 {
  color: #ffffff;
  font-size: 14px;
}

.food__col3__sec__txt2 {
  width: 300px;
  color: #ffffff;
  padding: 10px 0px;
  font-size: 30px;
  font-weight: 700;
}

.food__col3__sec__txt3 {
  color: #ffffff;
  font-size: 24px;
}

.food__col4 {
  width: 100%;
  height: 294px;
  display: flex;
  flex-direction: column;
}

.food__col4 {
  width: 100%;
  height: 294px;
  padding: 0px 80px;
}

.food__col4__sec {
  height: 294px;
  padding: 50px 0px;
}

.food__col4__sec1__box {
  width: 100%;
  height: 175px;
  display: flex;
  flex-direction: row;
  padding: 40px 0px 0px;
}

.food__col4__sec1__box__add1,
.food__col4__sec1__box__add2,
.food__col4__sec1__box__add3,
.food__col4__sec1__box__add4,
.food__col4__sec1__box__add5 {
  width: 20%;
  height: 138px;
}

.food__col4__sec1__box__add1__img {
  width: 242px;
  height: 120px;
  background-image: url("https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTl8fGZvb2R8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 10px;
  padding: 70px 25px 0px;
}

.food__col4__sec1__box__add2__img {
  width: 242px;
  height: 120px;
  background-image: url("https://images.unsplash.com/photo-1583953623787-ada99d338235?ixid=MXwxMjA3fDB8MHxzZWFyY2h8M3x8c3RlYWt8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 10px;
  padding: 70px 25px 0px;
}

.food__col4__sec1__box__add3__img {
  width: 242px;
  height: 120px;
  background-image: url("https://images.unsplash.com/photo-1507133750040-4a8f57021571?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NHx8Y29mZmVlfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 10px;
  padding: 70px 25px 0px;
}

.food__col4__sec1__box__add4__img {
  width: 242px;
  height: 120px;
  background-image: url("https://images.unsplash.com/photo-1504632236107-4ae29a44f388?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MXwxMzM0OTY2fHxlbnwwfHx8&auto=format&fit=crop&w=800&q=60");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 10px;
  padding: 70px 25px 0px;
}

.food__col4__sec1__box__add5__img {
  width: 242px;
  height: 120px;
  background-image: url("https://images.unsplash.com/photo-1563865436874-9aef32095fad?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8aW5ncmVkaWVudHN8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 10px;
  padding: 70px 25px 0px;
}

.food__col4__sec1__box p {
  font-size: 16px;
  color: #ffffff;
}

.food__col5 {
  width: 100%;
  height: 550px;
  padding: 0px 80px;
}

.food__col5__sec {
  width: 100%;
  height: 550px;
  padding: 50px 0px;
}

.food__col5__sec1__box {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  padding: 20px 0px 0px;
}

.food__col5__sec1__box__add1,
.food__col5__sec1__box__add2,
.food__col5__sec1__box__add3,
.food__col5__sec1__box__add4,
.food__col5__sec1__box__add5 {
  width: 20%;
  height: 400px;
}

.food__col5__sec1__box__add1__img {
  width: 240px;
  height: 310px;
  background-image: url("https://images.unsplash.com/photo-1550547660-d9450f859349?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8YnVyZ2VyfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 10px;
}

.food__col5__sec1__box__add2__img {
  width: 240px;
  height: 310px;
  background-image: url("https://images.unsplash.com/photo-1565299624946-b28f40a0ae38?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8cGl6emF8ZW58MHx8MHw%3D&auto=format&fit=crop&w=800&q=60");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 10px;
}

.food__col5__sec1__box__add3__img {
  width: 240px;
  height: 310px;
  background-image: url("https://images.unsplash.com/photo-1607330289024-1535c6b4e1c1?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mzh8fHBhc3RhfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 10px;
}

.food__col5__sec1__box__add4__img {
  width: 240px;
  height: 310px;
  background-image: url("https://images.unsplash.com/photo-1505576633757-0ac1084af824?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Nnx8c2FsYWR8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 10px;
}

.food__col5__sec1__box__add5__img {
  width: 240px;
  height: 310px;
  background-image: url("https://images.unsplash.com/photo-1540713434306-58505cf1b6fc?ixid=MXwxMjA3fDB8MHxzZWFyY2h8M3x8c2FuZHdpY2h8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 10px;
}

.food__col5__sec1__box__add1__txt,
.food__col5__sec1__box__add2__txt,
.food__col5__sec1__box__add3__txt,
.food__col5__sec1__box__add4__txt,
.food__col5__sec1__box__add5__txt {
  padding: 10px 0px;
}
