.help {
  width: 100%;
  height: 1300px;
  padding-top: 60px;

  display: flex;
  flex-direction: column;
}

.help .help__col1 {
  width: 100%;
  height: 100px;
}

.help .help__col2 {
  width: 100%;
  height: 1200px;

  display: flex;
  flex-direction: row;
}

.help .help__col2 .help__col2__sec1 {
  width: 5%;
  height: 1200px;
}

.help .help__col2 .help__col2__sec2 {
  width: 90%;
  height: 1200px;

  display: flex;
  flex-direction: column;
}

.help .help__col2 .help__col2__sec2__box1 {
  width: 100%;
  height: 95px;
}

.help .help__col2 .help__col2__sec2__box2 {
  width: 100%;
  height: 58px;
}

.help .help__col2 .help__col2__sec2__box3 {
  width: 100%;
  height: 30px;
}

.help .help__col2 .help__col2__sec2__box4 {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
}

.help .help__col2 .help__col2__sec2__box4__sec1 {
  width: 100%;
  height: 100px;
}

.help .help__col2 .help__col2__sec2__box4__sec2 {
  width: 100%;
  height: 100px;
}

.help .help__col2 .help__col2__sec2__box5 {
  width: 100%;
  height: 60px;
}

.help .help__col2 .help__col2__sec2__box6 {
  width: 100%;
  height: 857px;
  background-color: blue;
}

.help .help__col2 .help__col2__sec3 {
  width: 5%;
  height: 1200px;
}

.help__col2__sec2__box1 p {
  color: #000;
  font-size: 32px;
  margin-left: 25px;
  margin-top: 30px;
  font-weight: 700;
}

.help__col2__sec2__box2 p {
  color: #000;
  font-size: 27px;
  margin-top: 25px;
  margin-left: 25px;
  font-weight: 450px;
}

.help__col2__sec2__box3 p {
  color: #111;
  margin-top: 4px;
  padding-left: 25px;
  font-weight: 100px;
  font-size: 16px;
}

.help__col2__sec2__box4__add1 button {
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  font-size: 20px;
  box-shadow: 1px 1px 1px #000;
  padding: 5px;
  margin: 8px 20px;
}

.help__col2__sec2__box4__add2 button {
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  font-size: 20px;
  padding: 5px;
  margin: 8px 0px;
}

.help__col2__sec2__box5 p {
  color: #484848;
  margin-top: 4px;
  padding-left: 25px;
  font-weight: 100px;
  font-size: 23px;
}
