.home {
  width: 100%;
  height: 100vh;
  background-color: seagreen;
}

.home .home__col1 {
  width: 100%;
  height: 300px;
  background-color: sienna;
}

.home .home__col2 {
  width: 100%;
  height: 100%;
  background-color: skyblue;

  display: flex;
  flex-direction: row;
}

.home__col2__A {
  width: 33%;
  height: 350px;
  background-color: slateblue;
  margin: 50px 50px;
}

.home__col2__A__img {
  width: 100%;
  height: 85%;
  background-image: url("https://i.pinimg.com/474x/21/ca/06/21ca0610729719e55894871a6f5eee65.jpg");
  background-size: cover;
}

a {
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}

.home__col2__B__img {
  width: 100%;
  height: 85%;
  background-image: url("https://i.pinimg.com/474x/28/63/26/286326ae7e0d5fef17784dcdcc5cbd20.jpg");
  background-size: cover;
}

.home__col2__C__img {
  width: 100%;
  height: 85%;
  background-color: rgb(140, 21, 252);
}

.home__col2__B {
  width: 33%;
  height: 350px;
  background-color: rgb(39, 17, 184);
  margin: 50px 50px;
}

.home__col2__C {
  width: 33%;
  height: 350px;
  background-color: rgb(16, 8, 68);
  margin: 50px 50px;
}

.home__col2__C__img {
  width: 100%;
  height: 85%;
  background-image: url("https://i.pinimg.com/474x/94/0b/55/940b55f6bb5b85d0c7f73e74c028f92f.jpg");
  background-size: cover;
}

.home__col3 {
  width: 100%;
  height: 100%;
  background-color: slategray;
}

.home__col3__box1 {
  width: 100%;
  height: 50%;
  background-color: aquamarine;

  display: flex;
  flex-direction: row;
}

.home__col3__box1__A {
  width: 33%;
  height: 330px;
  background-color: black;
  margin: 25px 25px;
}

.home__col3__box1__B {
  width: 33%;
  height: 330px;
  background-color: rgb(143, 1, 1);
  margin: 25px 25px;
}

.home__col3__box1__C {
  width: 33%;
  height: 330px;
  background-color: rgb(131, 45, 45);
  margin: 25px 25px;
}

.home__col3__box2 {
  width: 100%;
  height: 50%;
  background-color: rgb(15, 31, 25);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.home__col3__box2__E {
  width: 25%;
  height: 330px;
  background-color: blueviolet;
  margin: 0px 30px;
}

.home__col3__box2__F {
  width: 25%;
  height: 330px;
  background-color: rgb(56, 32, 78);
  margin: 0px 30px;
}

.home__col3__box2__G {
  width: 25%;
  height: 330px;
  background-color: rgb(77, 22, 128);
  margin: 0px 30px;
}

.home__col3__box2__H {
  width: 25%;
  height: 330px;
  background-color: rgb(169, 122, 212);
  margin: 0px 30px;
}
