.app2,
.app1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.app1::before {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

form {
  position: relative;
  z-index: 2;
}

.app1 h1 {
  font-size: 32px;
  color: rgb(119, 117, 117);
  justify-content: center;
  align-items: center;
}

.int-area {
  width: 400px;
  position: relative;
}

.int-area input {
  width: 100%;
  padding: 20px 10px 10px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #999;
  font-size: 18px;
  color: rgb(0, 0, 0);
  outline: none;
}

.int-area .lable {
  position: absolute;
  left: 10px;
  top: 15px;
  font-size: 18px;
  color: #999;
}

.caption a {
  color: #000;
}
