.precautions {
  width: 100%;
  height: calc(4000px - 60px);
  padding: 60px 0px 0px;
}

.precautions__col1 {
  width: 100%;
  height: 440px;
  padding: 100px 204px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
}

.precautions__col1__txt1,
.precautions__col3__txt1,
.precautions__col6__txt1 {
  font-size: 60px;
  font-weight: 700;
  color: #333333;
}

.precautions__col1__txt2,
.precautions__col3__txt2,
.precautions__col6__txt2 {
  width: 640px;
  margin: 48px 0px 0px;
  font-size: 22px;
  font-weight: 400;
  color: #484848;
}

.precautions__col2 {
  width: 100%;
  height: 500px;
  padding: 0px 204px 75px;
  background-color: #fafafa;
}

.precautions__col2__img {
  width: 100%;
  height: 425px;
  background-image: url("https://a0.muscache.com/pictures/e93b26f2-3f2d-4ad3-a89e-6b6309201d24.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.precautions__col3,
.precautions__col6 {
  width: 100%;
  height: 260px;
  padding: 20px 204px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.precautions__col4 {
  width: 100%;
  height: 260px;
  padding: 20px 204px 0px;
  display: flex;
  flex-direction: row;
}

.precautions__col4__sec1,
.precautions__col4__sec2 {
  width: 50%;
  height: 160px;
}

.precautions__col4__sec1__txt1,
.precautions__col4__sec2__txt1,
.precautions__col7__sec__txt1,
.precautions__col8__sec__txt1,
.precautions__col9__sec__txt1 {
  font-size: 24px;
  font-weight: 700;
  color: #484848;
}

.precautions__col4__sec1__txt2,
.precautions__col4__sec2__txt2,
.precautions__col7__sec__txt2,
.precautions__col8__sec__txt2,
.precautions__col9__sec__txt2 {
  width: 400px;
  font-size: 16px;
  font-weight: 300;
  color: #484848;
  margin: 28px 0px 0px;
}

.precautions__col5 {
  width: 100%;
  height: 260px;
  padding: 0px 204px 0px;
  display: flex;
  flex-direction: row;
}

.precautions__col5__sec1,
.precautions__col5__sec2 {
  width: 50%;
  height: 160px;
}

.precautions__col5__sec1__txt1,
.precautions__col5__sec2__txt1 {
  font-size: 24px;
  font-weight: 700;
  color: #484848;
}

.precautions__col5__sec1__txt2,
.precautions__col5__sec2__txt2 {
  width: 400px;
  font-size: 16px;
  font-weight: 300;
  color: #484848;
  margin: 28px 0px 0px;
}

.precautions__col7 {
  width: 100%;
  height: 440px;
  padding: 10px 204px 0px;
  display: flex;
  flex-direction: row;
}

.precautions__col7__sec {
  width: 50%;
  height: 430px;
  display: flex;
  flex-direction: column;
  padding: 100px 0px 100px;
}

.precautions__col7__img {
  width: 430px;
  height: 430px;
  margin: 0px 80px 0px 0px;
  background-image: url("https://images.unsplash.com/photo-1617181669950-e0602ed26dbd?ixid=MXwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw4MHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.precautions__col8 {
  width: 100%;
  height: 490px;
  padding: 60px 204px 0px;
  display: flex;
  flex-direction: row;
}

.precautions__col8__img {
  width: 430px;
  height: 430px;
  margin: 0px 80px 0px 0px;
  background-image: url("https://images.unsplash.com/photo-1617181669950-e0602ed26dbd?ixid=MXwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw4MHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.precautions__col8__sec {
  width: 50%;
  height: 430px;
  display: flex;
  flex-direction: column;
  padding: 100px 0px 100px;
}

.precautions__col9 {
  width: 100%;
  height: 440px;
  padding: 10px 204px 0px;
  display: flex;
  flex-direction: row;
}

.precautions__col9__sec {
  width: 50%;
  height: 430px;
  display: flex;
  flex-direction: column;
  padding: 100px 0px 100px;
}

.precautions__col9__img {
  width: 430px;
  height: 430px;
  margin: 0px 80px 0px 0px;
  background-image: url("https://images.unsplash.com/photo-1617181669950-e0602ed26dbd?ixid=MXwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw4MHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
