.listTitle {
  width: 100%;
  height: calc(150px - 60px);
  padding-top: 60px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.listTitle .listTitle__head {
  font-size: 36px;
  padding: 16px;
  border-bottom: 1px solid thistle;
}

.listSearch {
  width: 100%;
  height: 80px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.listSearch .boardSearch__search {
  width: 400px;
  padding: 5px 10px;
  outline: none;
  background-color: none;
  border: none;
  border-bottom: 1px solid #000;
}

.listContents {
  width: 100%;
  padding: 40px 0px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.listContents .boardContents__rsWrapper {
  width: 1350px;
  padding: 40px 0px;
}

.listHeader {
  width: 100%;
  height: 40px;
  background-color: #000;
  color: #fff;
  font-weight: 700;
  font-size: 17px;
  display: flex;
  flex-direction: row;
}

.listHeader li:nth-child(1) {
  width: 60px;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.listHeader li:nth-child(2) {
  width: 890px;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.listHeader li:nth-child(3) {
  width: 250px;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.listHeader li:nth-child(4) {
  width: 150px;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.listBtn {
  font-size: 19px;
  padding: 10px;
  border-radius: 10px;
  margin: 0px 0px 10px 150px;
  background-color: #ffffff;
  border: none;
  border: 1.5px solid #000;
}

.listBtn:hover {
  cursor: pointer;
}
