.write {
  width: 100%;
}

.write__Title {
  width: 50%;
  height: 20%;
  margin: 100px 100px;
}

.write__Desc {
  width: 50%;
  height: 500px;
  margin-left: 100px;
}

.write__btn {
  width: 10%;
  height: 15%;
  margin: 30px;
  background-color: pink;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
}
