.safety {
  width: 100%;
  height: 1300px;

  display: flex;
  flex-direction: row;
}

.safety .safety__col1 {
  width: 430px;
  height: 1300px;
  margin-left: 180px;
  background-color: khaki;
}

.safety .safety__col2 {
  width: 92%;
  height: 1300px;

  display: flex;
  flex-direction: column;
}

.safety .safety__col2 .safety__col2__sec1 {
  width: 100%;
  height: 350px;

  background-color: palevioletred;
}

.safety .safety__col2 .safety__col2__sec2 {
  width: 100%;
  height: 1300px;

  background-color: olive;
}

.safety .safety__col2 .safety__col2__sec3 {
  width: 100%;
  height: 1300px;

  background-color: palegreen;
}

.safety .safety__col3 {
  width: 430px;
  height: 1300px;

  background-color: paleturquoise;
}
