.safety {
  width: 100%;
  height: 1300px;

  padding: 0px 204px;
  display: flex;
  flex-direction: column;
}

.safety .safety__col1 {
  width: 100%;
  height: 200px;
  padding: 140px 0px 0px;

  background-color: aquamarine;
}

.safety .safety__col2 {
  width: 100%;
  height: 1000px;

  background-color: black;
}

.safety .safety__col3 {
  width: 100%;
  height: 100px;

  background-color: burlywood;
}
