.serve {
  width: 100%;
  height: 5000px;
}

.serve__col1 {
  width: 100%;
  height: 860px;
  background-image: url("https://images.unsplash.com/photo-1466637574441-749b8f19452f?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NDd8fGZvb2R8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.serve__col1__sec1 {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
}

.serve__col1__sec1__box1 {
  width: 5%;
  height: 80px;
  padding: 20px 0px 0px 30px;
}

.serve__col1__sec1__box2 {
  width: 50%;
  height: 80px;
}

.serve__col1__sec1__box3 {
  width: 45%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.serve__col1 i {
  font-size: 40px;
  margin-bottom: 10px;
  transition: 0.6s;
  color: #fff;
}

.serve__col1__sec2 {
  width: 100%;
  height: 325px;
  margin-top: 200px;
  padding: 0px 230px 0px;
}

.serve__col1__sec1__box3 a {
  font-size: 14px;
  margin: 15px;
  font-weight: 500;
  color: #fff;
}

.serve__col1__sec2 {
  width: 100%;
  height: 325px;
  display: flex;
  flex-direction: column;
}

.serve__col1__sec2__txt1 {
  width: 500px;
  font-size: 44px;
  color: #fff;
  font-weight: 700;
}

.serve__col1__sec2__txt2 {
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  padding: 25px 0px 35px;
}

.serve__col1__sec2__txt3,
.serve__col1__sec2__txt5 {
  font-size: 16px;
  color: #fff;
  font-weight: 600;
}

.serve__col1__sec2__txt4 {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  margin: 0px 0px 20px;
}

.serve__col1__sec2__txt4__app1 input {
  width: 300px;
  height: 60px;
  margin: 10px 0px;
  border-radius: 5px;
}

.serve__col1__sec2__txt4__app2 {
  width: 100%;
  height: 60px;
  margin: 10px 0px 10px;
}

.servebtn {
  width: 120px;
  height: 60px;
  font-size: 18px;
  padding: 10px;
  border-radius: 7px;
  margin: 0px 0px 0px 10px;
  background-color: #008489;
  border: none;
  color: #fff;
}

.serve__col2 {
  width: 100%;
  height: 542px;
  margin: 96px 0px;
  padding: 0px 150px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.serve__col2__txt {
  font-size: 44px;
  padding: 8px 0px;
  color: #484848;
}

.serve__col2__sec {
  width: 100%;
  height: 482px;
  display: flex;
  flex-direction: row;
}

.serve__col2__sec__box1,
.serve__col2__sec__box2,
.serve__col2__sec__box3 {
  width: 362px;
  height: 462px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 0px;
  margin: 20px 9px 0px;
}

.serve__col2__sec__box1__img {
  width: 362px;
  height: 416px;
  background-image: url("https://images.unsplash.com/photo-1424847651672-bf20a4b0982b?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NjB8fGZvb2R8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.serve__col2__sec__box2__img {
  width: 362px;
  height: 416px;
  background-image: url("https://images.unsplash.com/photo-1541544741938-0af808871cc0?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NjN8fGZvb2R8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.serve__col2__sec__box3__img {
  width: 362px;
  height: 416px;
  background-image: url("https://images.unsplash.com/photo-1481070555726-e2fe8357725c?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjZ8fGZvb2R8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.serve__col2__sec__box1__txt,
.serve__col2__sec__box2__txt,
.serve__col2__sec__box3__txt {
  font-size: 17px;
  color: #484848;
  font-weight: 400;
  padding-top: 20px;
}

.serve__col3 {
  width: 100%;
  height: 1900px;
  display: flex;
  flex-direction: column;
}

.serve__col3__box1 {
  width: 100%;
  height: 633px;
  display: flex;
  flex-direction: row;
  padding: 0px 8px 8px;
}

.serve__col3__box1__img {
  width: 578px;
  height: 625px;
  background-image: url("https://images.unsplash.com/photo-1505576399279-565b52d4ac71?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8NjZ8fGZvb2R8ZW58MHx8MHw%3D&auto=format&fit=crop&w=800&q=60");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0px 8px;
}

.serve__col3__box1__txt,
.serve__col3__box3__txt {
  width: 814px;
  height: 625px;
  margin: 0px 8px;
  background-color: #faf2f2;
  padding: 180px 122px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.serve__col3__box1__txt__box1,
.serve__col3__box2__txt__box1,
.serve__col3__box3__txt__box1,
.serve__col5__sec__box2__txt__box1 {
  font-size: 40px;
  color: #484848;
  font-weight: 400;
  padding: 8px 0px;
}

.serve__col3__box1__txt__box2,
.serve__col3__box2__txt__box2,
.serve__col3__box3__txt__box2,
.serve__col5__sec__box2__txt__box2 {
  font-size: 18px;
  color: #484848;
  padding: 8px 0px;
}

.serve__col3__box1__txt__box3,
.serve__col3__box2__txt__box3,
.serve__col3__box3__txt__box3,
.serve__col5__sec__box2__txt__box3 {
  font-size: 16px;
  color: #008489;
  padding: 8px 0px;
}

.serve__col3__box2,
.serve__col3__box3 {
  width: 100%;
  height: 641px;
  display: flex;
  flex-direction: row;
  padding: 8px 8px;
}

.serve__col3__box2__txt {
  width: 814px;
  height: 625px;
  margin: 0px 8px;
  background-color: #f8cbcb;
  padding: 180px 122px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.serve__col3__box2__img {
  width: 578px;
  height: 625px;
  background-image: url("https://images.unsplash.com/photo-1488900128323-21503983a07e?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NDF8fGZvb2R8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0px 8px;
}

.serve__col3__box3__img {
  width: 578px;
  height: 625px;
  background-image: url("https://images.unsplash.com/photo-1514537099923-4c0fc7c73161?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NTR8fGZvb2R8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0px 8px;
}

.serve__col4 {
  width: 100%;
  height: 274px;
  margin-top: 100px;
  background-color: #006c70;
  display: flex;
  flex-direction: row;
}

.serve__col4__sec {
  width: 100%;
  margin: 0px 24px;
  padding: 0px 24px;
  display: flex;
  flex-direction: row;
}

.serve__col4__sec__txt1,
.serve__col4__sec__txt2 {
  width: 50%;
  height: 146px;
  padding: 0px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 64px 0px;
}

.serve__col4__sec__txt1__box1,
.serve__col4__sec__txt2__box1 {
  font-size: 32px;
  color: #fff;
  padding: 6px 0px;
}

.serve__col4__sec__txt1__box2,
.serve__col4__sec__txt2__box2 {
  padding: 8px 0px;
  font-size: 18px;
  color: #fff;
}

.serve__col4__sec__txt1__box3 a,
.serve__col4__sec__txt2__box3 a {
  font-size: 16px;
  color: #fff;
}

.serve__col5 {
  width: 100%;
  height: 625px;
  margin: 100px 0px;
  padding: 0px 144px;
}

.serve__col5__sec {
  display: flex;
  flex-direction: row;
}

.serve__col5__sec__box1 {
  width: 584px;
  height: 625px;
  padding: 0px 8px;
}

.serve__col5__sec__box1__img {
  width: 568px;
  height: 625px;
  background-image: url("https://images.unsplash.com/photo-1606851094291-6efae152bb87?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NjR8fGZvb2R8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.serve__col5__sec__box2 {
  width: 584px;
  height: 625px;
  padding: 0px 8px;
}

.serve__col5__sec__box2__txt {
  width: 568px;
  height: 625px;
  background-color: #faf2f2;
  padding: 180px 122px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.serve__col6 {
  width: 100%;
  height: 454px;
  background-color: #ebebeb;
  padding: 50px 204px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.serve__col6__txt1 {
  font-size: 46px;
  padding: 8px 0px;
  color: #484848;
}

.serve__col6__txt2 {
  font-size: 16px;
  color: #484848;
  padding: 20px 0px;
}

.serve__col6__txt3 {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  margin: 0px 0px 20px;
}

.serve__col6__txt3__box1 input {
  width: 300px;
  height: 60px;
  margin: 10px 0px 10px 300px;
  border-radius: 5px;
}

.serve__col6__txt3__box2 {
  width: 100%;
  height: 60px;
  margin: 10px 0px 10px;
}
